<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Se necesita localizacion para mantener estadisticas de la App</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Se necesita acceso para seleccionar foto de Perfil</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Chango-Regular.ttf</string>
		<string>LobsterTwo-Bold.ttf</string>
		<string>LobsterTwo-BoldItalic.ttf</string>
		<string>LobsterTwo-Italic.ttf</string>
		<string>LobsterTwo-Regular.ttf</string>
		<string>Notosans-Light.ttf</string>
		<string>Notosans-Medium.ttf</string>
		<string>Times-Regular.ttf</string>
		<string>Recolecta-Medium.ttf</string>
		<string>Recolecta-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
